In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"E:\Recap-Data Analysis\Python\cleaning and exploration\Clean\dirty_business_sales.csv")
df

,Sale Date,Store ID,Product ID,Category,Quantity,Unit Price,Discount,Customer Email,Revenue
0,2023-04-13,S-001,sku-300,home appliances,NaN,117.28,0.05,bob@Example.com,"1,250.50"
1,03/29/2023,S-001,SKU-500,Electronics,10 units,NaN,,NaN,$89
2,2023/02/07,S-001,SKU-100,Electronics,10 units,148.84,5%,bob@Example.com,NaN
3,03/30/2023,S-005,SKU-500,Electronics,NaN,NaN,5%,NaN,"1,250.50"
4,02/20/2023,S-005,SKU-400,home appliances,NaN,147.51,0.1,diana.example.com,"1,250.50"
...,...,...,...,...,...,...,...,...,...
303,03/30/2023,S-005,SKU-500,Electronics,NaN,NaN,5%,NaN,"1,250.50"
304,02/20/2023,S-005,SKU-400,home appliances,NaN,147.51,0.1,diana.example.com,"1,250.50"
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns = [c.strip().lower().replace(" ",'_') for c in df.columns]

In [4]:
a = df['sale_date'].astype(str).str.strip()
b = pd.to_datetime(a,errors='coerce')
for fmt in ['%Y-%m-%d','%Y/%m/%d','%m/%d/%Y','%d/%m/%Y']:
    c = b.isna()
    if not c.any():
        break
    b.loc[c] = pd.to_datetime(a[c],errors='coerce',format=fmt)

df['sale_date'] = b.dt.strftime('%Y-%m-%d')

In [5]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,sku-300,home appliances,NaN,117.28,0.05,bob@Example.com,"1,250.50"
1,2023-03-29,S-001,SKU-500,Electronics,10 units,NaN,,NaN,$89
2,2023-02-07,S-001,SKU-100,Electronics,10 units,148.84,5%,bob@Example.com,NaN
3,2023-03-30,S-005,SKU-500,Electronics,NaN,NaN,5%,NaN,"1,250.50"
4,2023-02-20,S-005,SKU-400,home appliances,NaN,147.51,0.1,diana.example.com,"1,250.50"
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,SKU-500,Electronics,NaN,NaN,5%,NaN,"1,250.50"
304,2023-02-20,S-005,SKU-400,home appliances,NaN,147.51,0.1,diana.example.com,"1,250.50"
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for c in ['store_id','product_id','category','customer_email']:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip()
        df[c] = df[c].str.title()

df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,NaN,117.28,0.05,Bob@Example.Com,"1,250.50"
1,2023-03-29,S-001,Sku-500,Electronics,10 units,NaN,,Nan,$89
2,2023-02-07,S-001,Sku-100,Electronics,10 units,148.84,5%,Bob@Example.Com,NaN
3,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,5%,Nan,"1,250.50"
4,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.1,Diana.Example.Com,"1,250.50"
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,5%,Nan,"1,250.50"
304,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.1,Diana.Example.Com,"1,250.50"
305,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
306,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
307,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN

In [7]:
for c in ['quantity','unit_price','discount','revenue']:
    if c in df.columns:
        df[c] = df[c].astype(str).str.replace("[^0-9.\-]",'',regex=True)
        df[c] = pd.to_numeric(df[c],errors='coerce')

df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,NaN,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,NaN,NaN,Nan,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,5.00,Bob@Example.Com,NaN
3,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,5.00,Nan,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana.Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,5.00,Nan,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana.Example.Com,1250.5
305,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
306,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
307,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN

In [8]:
for c in ['discount']:
    if c in df.columns:
        d = df[c] > 1
        df.loc[d,c] = df.loc[d,c]/100.0

df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,NaN,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,NaN,NaN,Nan,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,0.05,Bob@Example.Com,NaN
3,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana.Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana.Example.Com,1250.5
305,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
306,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
307,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN

In [9]:
df['customer_email'] = df['customer_email'].str.replace(".Example",'@Example')

In [10]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,NaN,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,NaN,NaN,Nan,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,0.05,Bob@Example.Com,NaN
3,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana@Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana@Example.Com,1250.5
305,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
306,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
307,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN

In [11]:
df['customer_email'] = df['customer_email'].str.replace("Ex Ample",'Example')

In [12]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,NaN,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,NaN,NaN,Nan,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,0.05,Bob@Example.Com,NaN
3,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana@Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,NaN,NaN,0.05,Nan,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,NaN,147.51,0.10,Diana@Example.Com,1250.5
305,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
306,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN
307,NaN,Nan,Nan,Nan,NaN,NaN,NaN,Nan,NaN

In [13]:
df = df.fillna('')

In [14]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,,,Nan,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,0.05,Bob@Example.Com,
3,2023-03-30,S-005,Sku-500,Electronics,,,0.05,Nan,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,,147.51,0.1,Diana@Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,,,0.05,Nan,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,,147.51,0.1,Diana@Example.Com,1250.5
305,,Nan,Nan,Nan,,,,Nan,
306,,Nan,Nan,Nan,,,,Nan,
307,,Nan,Nan,Nan,,,,Nan,

In [15]:
df = df.replace("Nan",'')

In [16]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
0,2023-04-13,S-001,Sku-300,Home Appliances,,117.28,0.05,Bob@Example.Com,1250.5
1,2023-03-29,S-001,Sku-500,Electronics,10.0,,,,89.0
2,2023-02-07,S-001,Sku-100,Electronics,10.0,148.84,0.05,Bob@Example.Com,
3,2023-03-30,S-005,Sku-500,Electronics,,,0.05,,1250.5
4,2023-02-20,S-005,Sku-400,Home Appliances,,147.51,0.1,Diana@Example.Com,1250.5
...,...,...,...,...,...,...,...,...,...
303,2023-03-30,S-005,Sku-500,Electronics,,,0.05,,1250.5
304,2023-02-20,S-005,Sku-400,Home Appliances,,147.51,0.1,Diana@Example.Com,1250.5
305,,,,,,,,,
306,,,,,,,,,
307,,,,,,,,,

In [26]:
for x in df.index:
    if df.loc[x,'sale_date'] =='':
        df.drop(x,inplace=True)

In [28]:
for x in df.index:
    if df.loc[x,'quantity'] =='':
        df.drop(x,inplace=True)

In [29]:
for x in df.index:
    if df.loc[x,'unit_price'] =='':
        df.drop(x,inplace=True)

In [30]:
for x in df.index:
    if df.loc[x,'discount'] =='':
        df.drop(x,inplace=True)

In [31]:
for x in df.index:
    if df.loc[x,'revenue'] =='':
        df.drop(x,inplace=True)

In [32]:
df

,sale_date,store_id,product_id,category,quantity,unit_price,discount,customer_email,revenue
11,2023-02-10,S-003,Sku-100,Home Appliances,15.0,9.99,0.0,Alice@Example.Com,89.0
33,2023-04-30,S-001,Sku-500,Home Appliances,10.0,127.86,0.05,Bob@Example.Com,89.0
42,2023-01-24,S-005,Sku-500,Electronics,10.0,9.99,0.05,Bob@Example.Com,308.73
52,2023-04-06,S-004,Sku-300,Electronics,16.0,99.54,0.0,Charlie@Example.Com,1250.5
71,2023-01-07,S-003,Sku-100,Electronics,14.0,34.55,0.05,Charlie@Example.Com,1070.82
75,2023-05-06,S-004,Sku-200,Electronics,8.0,9.99,0.0,Charlie@Example.Com,89.0
77,2023-03-02,S-001,Sku-300,Groceries,15.0,7.95,0.1,Diana@Example.Com,89.0
81,2023-05-16,S-004,Sku-200,Home Appliances,10.0,13.04,0.05,Diana@Example.Com,1183.52
119,2023-03-19,S-001,Sku-400,Home Appliances,11.0,9.99,0.1,Eve@Example.Com,89.0
123,2023-04-07,S-001,Sku-300,Electronics,15.0,35.98,0.05,Charlie@Example.Com,89.0
126,2023-02-07,S-005,Sku-100,Home Appliances,1.0,9.99,0.0,Bob@Example.Com,45.07
129,2023-02-16,S-001,Sku-500,Home Appliances,10.0,9.99,0.1,Diana@Example.Com,89.0
133,2023-04-10,S-001,Sku-500,Home Appliances,10.0,118.83,0.05,Alice@Example.Com,1250.5
147,2023-03-13,S-004,Sku-400,Electronics,15.0,28.01,0.05,Alice@Example.Com,289.63
184,2023-01-03,S-004,Sku-100,Home Appliances,6.0,9.99,0.0,Charlie@Example.Com,89.0
195,2023-05-18,S-001,Sku-300,Electronics,11.0,9.99,0.05,Charlie@Example.Com,982.47
222,2023-01-12,S-005,Sku-400,Home Appliances,12.0,9.99,0.05,Bob@Example.Com,398.18
255,2023-01-15,S-001,Sku-400,Electronics,4.0,9.99,0.05,Diana@Example.Com,89.0
262,2023-02-18,S-004,Sku-300,Electronics,10.0,9.99,0.05,Diana@Example.Com,511.37
265,2023-01-11,S-001,Sku-100,Electronics,10.0,59.55,0.0,Alice@Example.Com,598.64
268,2023-02-05,S-001,Sku-300,Groceries,8.0,9.99,0.0,Charlie@Example.Com,1250.5
277,2023-05-22,S-004,Sku-400,Home Appliances,4.0,35.26,0.05,Bob@Example.Com,460.19
297,2023-05-09,S-005,Sku-500,Home Appliances,10.0,12.85,0.05,Charlie@Example.Com,89.0

In [34]:
 df.to_csv("clean_sales_data(EDA)")